/* general quizz-creation style */

.quizz-creation {
    width: 600px;
    margin: 0 auto;
}

.quizz-creation input {
    height: 46px;
    padding-left: 24px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    outline: none;
    font-style: italic;
    font-family: Roboto;
    font-size: 19px;
}

.quizz-creation h2 {
    font-size: 23px;
    font-family: Roboto;
    font-weight: bold;
}

.quizz-creation h3 {
    font-size: 20px;
    font-family: Roboto;
    font-weight: bold;
    margin: 12px 0px;
}

.quizz-creation button {
    /* min-width: 325px; */
    height: 54px;
    padding: 0px 50px;
    background: #EC362D;
    border-radius: 15px;
    border: none;
    font-family: Roboto;
    font-size: 21px;
    color: #FFF5F4;
}

.fold > div:first-child {
    height: 74px;
}

.fold > div:last-child {
    display: none;
}

@media (max-width: 1083px) {

    .container {
        width: 100%;
        margin-top: 104px;
    }
}

@media (max-width: 600px) {

    .quizz-creation {
        width: 100%;
    }
}

@media (max-width: 385px) {

    .quizz-creation h2 {
        font-size: 20px;
    }
}

/* start, questions, levels */


.start > div:first-child, .questions > div:first-child, .levels > div:first-child, .finished > div:first-child {
    height: 58px;
    text-align: center;
}


.start > div:nth-child(2), .question, .level {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 0px 16px;
    margin-bottom: 24px;
}

.start .text-field, .questions .text-field, .levels .text-field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 0px;
}


.start > div:last-child, .questions > div:last-child, .levels > div:last-child, .finished > div:last-child {
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

@media (max-width: 600px) {

    .start > div:last-child, .questions > div:last-child, .levels > div:last-child {
        height: 79px;
    }
}

/* questions, levels */

.question-head, .level-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-head ion-icon, .level-head ion-icon {
    font-size: 26px;
}

/* start */

.start .text-field {
    height: 258px;
}

/* questions */

.questions .text-field {
    height: 138px;
}

/* levels */

.levels .text-field {
    height: 391px;
    padding-bottom: 20px;
}

input.description {
    height: 177px;
}

/* finished */

.finished > div:nth-child(2)  {
    max-width: 500px;
    height: 266px;
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%),url("https://media-manager.noticiasaominuto.com/1920/1586949635/naom_54f98d60711ab.jpg?");
    background-size: cover;
    border-radius: 5px;
}

.finished > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 23px 23px;
}

.finished .finished-quizz-title {
    color: #FFFFFF;
    font-weight: 400;
}

.finished > div:last-child {
    height: 153px;
}

.finished button:last-child {
    background-color: rgba(0, 0, 255, 0);
    color:#818181;
}

@media (max-width: 500px) {

    .finished > div:nth-child(2)  {
        width: 340px;
        height: 181px;
    }
}

@media (max-width: 385px) {

    .finished > div:last-child {
        height: 132px;
    }
}