body {
  font-family: "Roboto";
  background-color: #e5e5e5;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  height: 69px;
  width: 100%;
  background-color: #ec362d;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

h1 {
  font-weight: bold;
  font-size: 37px;
  color: #fff;
}

.container {
  width: 1083px;
  margin: 0 auto;
  margin-top: 134px;
}

.landingScreen div:last-child {
  padding-left: 15px;
}
.landingScreen div:last-child strong {
  font-size: 20px;
  line-height: 23.5px;
}
.quizzes {
  display: flex;
  flex-wrap: wrap;
}
.quizz {
  height: 181px;
  width: 340px;
  font-size: 19px;
  border-radius: 5px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 64.58%,
    #000000 100%
  );
  background-size: cover;
  margin-right: 15px;
  margin-top: 12px;
  position: relative;
  cursor: pointer;
}

.quizz img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
}

.quizz:hover {
  height: 183px;
  width: 342px;
  margin-right: 13px;
  margin-top: 10px;
  font-size: 19.25px;
}

.quizz p {
  width: 301px;
  font-size: inherit;
  line-height: 22px;
  color: #fff;
  position: absolute;
  left: 18px;
  bottom: 7px;
}

.ocult {
  display: none;
}
