body {
  font-family: "Roboto";
  background-color: #fafafa;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  height: 69px;
  width: 100vw;
  background-color: #ec362d;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

h1 {
  font-weight: bold;
  font-size: 37px;
  color: #fff;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 227px;
  overflow: hidden;
  margin-top: -65px;
  margin-bottom: 42px;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
}
.banner img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.banner p {
  max-width: 90%;
  font-size: 39px;
  line-height: 45.5px;
  text-align: center;
  color: #fff;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
}
.spinner img {
  width: 10vw;
  min-width: 100px;
}

.container {
  width: 100%;
  margin: 0 auto;
  margin-top: 134px;
}

.landingScreen {
  width: 1083px;
  margin: 0 auto;
}

.landingScreen .my-quizzes {
  width: 1051px;
  margin: 0 auto;
}
.landingScreen .my-quizzes-header {
  display: flex;
  align-items: center;
}
.landingScreen .my-quizzes-header strong {
  font-size: 20px;
  margin-right: 17px;
}
.landingScreen .my-quizzes-header ion-icon {
  color: red;
  font-size: 31px;
}

.landingScreen .no-own-quizzes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 181px;
  width: 1051px;

  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='%23D5D5D5FF' stroke-width='2' stroke-dasharray='4' stroke-dashoffset='3' stroke-linecap='round'/%3e%3c/svg%3e");

  margin-left: 15px;
  margin-top: 12px;
  margin-bottom: 77px;

  border-radius: 5px;
}

.landingScreen .no-own-quizzes p:first-child {
  width: 250px;
  text-align: center;
  line-height: 23px;
  font-size: 20px;
  color: #b9b9b9;
}

.landingScreen .no-own-quizzes div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 151px;
  margin-top: 30px;
  cursor: pointer;
  position: relative;
}
.landingScreen .no-own-quizzes div img {
  height: 40px;
  width: 151px;
  border-radius: 18px;
  position: absolute;
}

.landingScreen .no-own-quizzes a {
  line-height: 25px;
  font-size: 21px;
  color: #ec362d;
  text-align: center;
}

.landingScreen > div:last-child {
  padding-left: 15px;
  width: 100%;
}
.landingScreen div:last-child strong {
  font-size: 20px;
  line-height: 23.5px;
}
.quizzes {
  display: flex;
  flex-wrap: wrap;
}
.quizz {
  flex-shrink: 0;
  height: 181px;
  width: 340px;
  font-size: 19px;
  border-radius: 5px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 64.58%,
    #000000 100%
  );
  background-size: cover;
  margin-right: 15px;
  margin-top: 12px;
  position: relative;
  cursor: pointer;
}

.quizz img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: relative;
  z-index: -1;
}

.quizz:hover {
  height: 183px;
  width: 342px;
  margin-right: 13px;
  margin-top: 10px;
  font-size: 19.25px;
}

.quizz p {
  width: 301px;
  font-size: inherit;
  line-height: 22px;
  color: #fff;
  position: absolute;
  left: 18px;
  bottom: 7px;
  word-break: break-all;
}

.quizz-player .quizz-question {
  width: 760px;
  background-color: #fff;
  margin: 0 auto;
  padding: 36px;
  padding-top: 28px;
  padding-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
}

.quizz-player .quizz-question .question-header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 138px;
  padding: 0 16px;
}

.quizz-player .quizz-question .question-header strong {
  font-size: 23px;
  line-height: 90px;
  text-align: center;
  color: #fff;
}

.answers {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.answers div {
  width: 333px;

  overflow: hidden;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.answers div:nth-child(odd) {
  margin-right: 22px;
}

.answers div strong {
  display: block;
  font-size: 20px;
  line-height: 23.5px;
  margin-top: 8px;
}

.unselected {
  opacity: 0.3;
}

.wrong-answer {
  color: #ff4b4b;
}

.correct-answer {
  color: #009c22;
}

.quizz-player .quizz-question img {
  height: 175px;
  width: 100%;
}
#resultDiv {
  margin-bottom: 0;
}
#resultDiv .question-header {
  margin-top: 0;
}
#resultDiv > div {
  display: flex;
  margin-top: 18px;
}

#resultDiv img {
  width: 364px;
  margin-right: 21px;
}
#resultDiv p {
  width: 328px;
  line-height: 25px;
  font-size: 19px;
  color: #484848;
  font-weight: bold;
}

.quizz-finish-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 254px;
  width: 760px;
  margin: 0 auto;
}

.quizz-finish-options button {
  height: 52px;
  width: 260px;
  font-size: 21px;
  font-family: "Roboto";
  text-align: center;
  color: #fff5f4;
  background-color: #ec362d;
  border: none;
  border-radius: 15px;
  margin-bottom: 16px;
  cursor: pointer;
}

.quizz-finish-options a {
  font-size: 21px;
  text-align: center;
  color: #818181;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .container {
    margin-top: 100px;
  }

  .banner {
    height: 142px;
    margin-top: -35px;
    margin-bottom: 42px;
  }

  .banner p {
    max-width: 90%;
    font-size: 19px;
    line-height: 22px;
  }

  .landingScreen {
    width: 340px;
    margin: 0 auto;
  }

  .quizz-player {
    width: 375px;
    margin: 0 auto;
  }

  .landingScreen .no-own-quizzes {
    width: 340px;
    margin: 0;
    margin-bottom: 35px;
  }

  .landingScreen > div:last-child {
    padding-left: 0;
    width: 340px;
  }

  .quizz {
    margin-right: 0;
  }

  .quizz-player .quizz-question {
    width: 375px;
    padding: 18px;
  }

  .quizz-player .quizz-question .question-header {
    min-height: 89px;
  }

  .quizz-player .quizz-question .question-header strong {
    font-size: 19px;
    line-height: 22px;
  }

  .answers {
    margin-top: 12px;
  }
  .answers div {
    width: 164px;

    overflow: hidden;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .answers div:nth-child(odd) {
    margin-right: 10px;
  }

  .answers div strong {
    display: block;
    font-size: 13px;
    line-height: 15px;
    margin-top: 6px;
  }
  .quizz-player .quizz-question img {
    height: 113px;
    width: 100%;
  }

  #resultDiv .question-header {
    margin-top: 0;
    width: 340px;
  }
  #resultDiv > div {
    flex-direction: column;
    margin-top: 9px;
  }

  #resultDiv img {
    width: 340px;
    margin-right: 0px;
    margin-bottom: 9px;
  }
  #resultDiv p {
    width: 340px;
    line-height: 20px;
    font-size: 17px;
  }

  .quizz-finish-options {
    height: 196px;
    width: 375px;
    margin: 0 auto;
  }

  .quizz-finish-options button {
    height: 44px;
    width: 220px;
    font-size: 18px;
  }

  .quizz-finish-options a {
    font-size: 18px;
  }
}

.ocult {
  display: none !important;
}
